  /* LOAD FONTS */
 
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

 html{
	scroll-behavior: smooth;
 }

  body {
	
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
  }


  .wrapper {
	overflow: hidden;
}


/* HEADER */

.header {
	background: #0c0c0c;	
}

.header__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding: 20px 0px 23px 0px;
}
.menu {
	display: flex;
}

.menu a {
	font-weight: 200;
	font-size: 20px;
	line-height: 41px;
	color: #d2d3d3;
}


.menu__list {
	display: flex;
	align-items: center;
}
.menu__item + .menu__item {
	margin-left: 49px;
}


/* FIRST SCREEN - Introduce */

.first-screen {
	background: url('../img/background/first-screen_background.jpg') center no-repeat;
	background-size: cover;
}

.first-screen__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}

.first-screen__inner {
	padding: 250px 0px 450px 0px;
}

.first-screen__title  {
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 107px;
	color: #d2d3d3;
	text-transform: uppercase;
}

.first-screen__sub-title {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 53px;
	color: #d2d3d3;
}

.first-screen__text {
	margin-top: 30px;
	max-width: 576px;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 41px;
	color: #d2d3d3;
}

.first-screen__btn img {
	margin-left: 5px;
	transition: 0.3s;
}


.first-screen__btn  img:hover {
	transform: rotate(360deg);
}


.first-screen__btn button {
	color: #d2d3d3;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	padding: 18px 12px 18px 12px;
	margin-top: 40px;
	border: 2px solid #d2d3d3;
	border-radius: 20px;
	background-color: rgba(0, 125, 215, 0.0);
	text-transform: uppercase;
	transition: 0.3s;
}


/* APPOINTMENT MODAL*/
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 10px;
	z-index: 10;
	background-color: rgb(211, 211, 211);
	width: 550px;
	height: 620px;
	max-width: 80%;
}
  
.modal.active {
	transform: translate(-50%, -50%) scale(1);
}
  
.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
.modal-header__title {
	max-width: 335px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 28px;
	line-height: 41px;
	color: #030303;
}
  
.call-input__name {
	color: #131212;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
}

.modal-body__img {
	cursor: pointer;
	display: block;
    margin: auto;
}
  
.modal-body {
	padding: 10px 15px;
}
  
#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}
  
#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.appointment-form {
	max-width: 335px;
	margin: 0 auto;
}


.user-name {
	margin-top: 10px;
}

.user-name input {
	font-size: 16px;
	padding: 5px;
	width: 160px;
	height: 40px;
	border: 1px solid #373737;
	border-radius: 5px;
}

.user-contacts input {
	font-size: 16px;
	padding: 5px;
	width: 336px;
	height: 40px;
	border: 1px solid #373737;
	border-radius: 5px;
}

.form-item {
	display: flex;
	flex-direction: column;
}

.form-item label {
	font-weight: 500;
	font-size: 16px;
	margin: 22px 0px 5px 0px;
}

.user-name {
	display: flex;
	justify-content: space-between;
}

.appointment-form__btn {
	max-width: 200px;
	margin: 35px auto;
}

.appointment-form__btn button {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 15px 10px 15px;
	border: 1.5px solid #000000;
	border-radius: 20px;
	background-color: rgba(0, 125, 215, 0.0);
	text-transform: uppercase;
	transition: 0.3s;
}

.appointment-form__btn button:hover {
	background-color: #000000;
	color: #FFFFFF;
}

/* HOUSE TEAM */


.house-team {
	background: url("../img/background/team-background.jpg") center no-repeat;
	background-size: cover;
}
.house-team__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
.house-team__inner {
	padding: 80px 0px 169px 0px;
}
.house-team__title {
	font-weight: 500;
	font-size: 64px;
	line-height: 95px;
	color: #000000;
	text-transform: uppercase;
}

.members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.members__card {
	margin-top: 65px;
	border-radius: 0px 0px 80px 80px;
}


.member-name {
	position: relative;
	font-weight: 400;
	font-size: 36px;
	line-height: 53px;
	color: #FFFFFF;
	margin: -70px 0px 0px 0px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	z-index: 1;
}

.background-name {
	position: relative;
	min-width: 316px;
	min-height: 79px;
	margin: -60px 0px 10px 0px;
	background: rgba(0, 0, 0, 0.81);
	border-radius: 0px 0px 80px 80px;
	z-index: 0;
}

	
.member-name:hover {
	font-size: 38px;
}

.member-name__link  {
	color: #fff;
}

.learn-more {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	margin-left: 100px;
	color: #232029;
}

.learn-more img {
	transition: 0.3s;
	margin-left: 5px;
}

.learn-more img:hover {
	transform: rotate(360deg);
}




/* HOUSE TEAM PAGE-LIST */


.house-team-page {
	background: #DDDED8;;
}

.house-team-page__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}

.house-team-page__inner {
	padding: 100px 0px 200px 0px;
}

.house-team-page__title  {
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 107px;
	color: #000000;
	text-transform: uppercase;
}


.house-team-page__sub-title {
	font-weight: 300;
	font-size: 36px;
	line-height: 53px;
	max-width: 778px;;
	color: #000000;
	padding-bottom: 40px;
}



.members__item {
	display: flex;
	justify-content: space-between;
}


.members-list {
	display: flex;
	flex-direction: column;
}

.members__text {
	font-weight: 200;
	font-size: 28px;
	line-height: 53px;
	color: #000000;
    max-height: 316px;
	margin: auto 60px;
}
/* ----------------------------------------------------------------------------- */

.faq {
	background: #1F1F1F;
}

.faq__container {
	background: url("../img/icon/faq.png") no-repeat 580px 150px;
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}

.faq__inner {
	padding: 104px 0px 179px 0px;
}

.faq__inner a {
	color: rgb(119, 119, 119);
	cursor: pointer;
}


.faq__title  {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	color: #fff;
	padding-bottom: 100px;
	}

.accordion {
	background-color: rgba(238, 238, 238, 0);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	outline: none;
	transition: 0.4s;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #b5b5b5;
	border-bottom: 0.5px solid #b5b5b5;
  }
  
  /* Добавить цвет фона для кнопки, если она нажата (добавить .активный класс с JS), а при наведении на него курсора мыши (наведите курсор) */
.active, .accordion:hover {
	color: #ffffff;
	border-bottom: 0.5px solid #ffffff;

}
  
  /* Стиль аккордеон панели. Примечание: скрыто по умолчанию */

.panel {
	margin: 15px 0px 15px 0px;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 118%;
	color: #FFFFFF;
}




/* HOUSE SERVICE */



.house-service {
	background-color: #DFDFDF; 
}

.house-service__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}

.house-service__inner {
	padding: 80px 0px 169px 0px;
}

.house-service__title {
	font-weight: 500;
	font-size: 64px;
	line-height: 95px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.house-service__subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 87.3%;
	color: #000000;
}

.service {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.service__card {
	margin-top: 65px;
	border-radius: 0px 0px 80px 80px;
}


.service-name {
	position: relative;
	font-weight: 400;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: -70px 0px 0px 0px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	z-index: 1;
	text-transform: uppercase;
}

.service-name__background {
	position: relative;
	min-width: 373px;
	min-height: 88px;
	margin: -70px 0px 10px 0px;
	background: rgba(0, 0, 0, 0.81);
	z-index: 0;
}

	
.service-name:hover {
	font-size: 38px;
}

.service-name__link  {
	color: #fff;
}


.footer {
	background-color: #1F1F1F;; 
}
.footer__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
.footer__inner {
	padding: 56px 0px 65px 0px;
}
.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info__item {
	min-width: 373px;
}

.footer__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 47px;
	color: #BABABA;
	margin-bottom: 50px;
}

.info-list li {
	color: #BABABA;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 87.3%;
	padding-bottom: 20px;
}

.info-list a {
	color: #BABABA;
}


 /* АДАПТИВ */

 @media (max-width: 1080px){
	.first-screen {
		background: url('../img/background/first-screen_background.jpg')  -500px no-repeat;
		background-size: cover;
	}

	.house-team__title {
		margin-left: 50px;
	}
	
	
.members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	}

.members__card {
	margin: 65px 15px 0px 15px;
	}
}

@media (max-width:820px ) {

	.header__inner {
		padding: 20px 0px 20px 0px;
		display: block;
		text-align: center;
	}

	

	.menu {
		
		display: flex;
		justify-content: center;
		
	}
	
	
	.menu__list {
		margin-top: 15px;
		display: flex;
		
	}

	.first-screen {
		background: url('../img/background/first-screen_background.jpg')  -700px no-repeat;
		background-size: cover;
	}

}

@media (max-width:690px ) {
	.house-team__title {
		margin-left: 50px;
	}
}

@media (max-width:580px ) {

	.first-screen {
		background: url('../img/background/first-screen_background.jpg')  -1000px no-repeat;
		background-size: cover;
	}


	.menu__list {
		display: flex;
		flex-direction: column;		
		align-items: center;
	}
	
	.menu__item + .menu__item {
		margin-left: 0px;
	}

	.house-team__title {
		font-size: 58px;
	}
}