  /* LOAD FONTS */
 
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

  body {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
  }


/* HEADER */

.header {
	background: #F0F0F0;
}
.header__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
.header__inner {
	display: flex;
	justify-content: space-between;
}
.logo {
	padding: 20px 0px 23px 0px;
}
.menu {
	display: flex;
}

.menu a {
	font-weight: 400;
	font-size: 20px;
	line-height: 41px;
	color: #000000;
}


.menu__list {
	display: flex;
	align-items: center;
}
.menu__item + .menu__item {
	margin-left: 49px;
}

.menu__btn button {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-top: 21px;
	color: #000000;
	margin-left: 49px;
	border: 2px solid #000000;
	border-radius: 20px;
	padding: 6px 20px 6px 20px;
}


.first-screen {
	background: url(../img/first-screen_background.jpg) center no-repeat;
	background-size: cover;
}
.first-screen__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
.first-screen__inner {
	padding: 317px 0px 346px 0px;
}
.first-screen__title  {
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 107px;
	color: #000000;
}
.first-screen__sub-title {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 53px;
	color: #000000;
}
.first-screen__text {
	margin-top: 10px;
	max-width: 576px;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 41px;
	color: #000000;
}

.first-screen__btn img {
	margin-left: 5px;
	transition: 0.3s;

}

.first-screen__btn  img:hover {
	transform: rotate(80deg);
	

}

.first-screen__btn button {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	padding: 18px 12px 18px 12px;
	margin-top: 50px;
	border: 3px solid #000000;;
	border-radius: 20px;
	background-color: rgba(0, 125, 215, 0.0);
	

}

