  /* LOAD FONTS  */
 
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

  body {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
  }


/* HEADER */

.header {
	background: #F0F0F0;
}
.header__container {
	max-width: 1190px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
.header__inner {
	display: flex;
	justify-content: space-between;
}
.logo {
	padding: 20px 0px 23px 0px;
}
.menu {
	display: flex;
}

.menu a {
	font-weight: 400;
	font-size: 20px;
	line-height: 41px;
	color: #000000;
}


.menu__list {
	display: flex;
	align-items: center;
}
.menu__item + .menu__item {
	margin-left: 49px;
}

.menu__btn button {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-top: 24px;
	color: #000000;
	margin-left: 49px;
	border: 2px solid #000000;
	border-radius: 20px;
	padding: 6px 38px 6px 38px;
}


